extends default

block head 
    link(rel='stylesheet' href='homePage.css')
    
block content
  .content
    h1 Simple Clean
    .homePage
      p
        | A focused and convenient website that enables the
        | installation of the addition between toilets and job
        | seekers for household work. Everything was built and
        | designed to provide comfort, security and peace of mind.
      button.search(type='button')
        a(href='search')  Look for housekeeper
      button.report(type='button')
        a(href='customerService')
          | having some troubles? report us
