extends default

block head 
    link(rel='stylesheet' href='signIn.css')
    script(defer='' src="formValid.js")
    
block content
    .signIn
      h1 Sign In 
    form.my-form.user(action='' method='post')
      label Name: 
      br
      br
      input#name(type='text' name='First-Name' placeholder='First name...')
      #nameError.error
      br
      br
      label Last Name: 
      br
      br
      input#last_name(type='text' name='Last-Name' placeholder='Last name...')
      br
      br
      label Email: 
      br
      br
      input#email(type='email' name='Email' placeholder='Email...')
      br
      br
      label User Name: 
      br
      br
      input#user_name(type='text' name='UserName' placeholder='User name...')
      br
      br
      label Password: 
      br
      br
      input#password(type='password' name='Password' placeholder='**********')
      br
      br
      label Address: 
      br
      br
      input#city(type='text' name='City' placeholder='City...')
      br
      br
      label Gender: 
      br
      br
      select.gender(name='gender' id="gender")
        option(value='Male') Male
        option(value='Female') Female
        option(value='Other') Other
      br
      br
      label Phone: 
      br
      br
      label
        input#phone(type='tel' name='phone' placeholder='Phone...')
      br
      br
      .signIn
        input.submit(type='submit' value='Sign in now!')