extends default

block head 
    link(rel='stylesheet' href='aboutUS.css')

block content
  .aboutUs
    h2 About Us
    p
      | Welcome to our website, a convenient platform designed to
      | help you find reliable and affordable cleaning services for
      | your domestic needs. Our application is built to match you
      | with local cleaning professionals in your area who meet your
      | specific requirements. We understand that finding the right
      | cleaner can be a daunting task, but with our comprehensive
      | database of experienced and beginner domestic workers, you
      | can easily compare prices and profiles to find the perfect
      | match. Our platform provides full access to the details of
      | job candidates for registered users, ensuring complete
      | transparency and peace of mind. Our goal is to make the
      | process of finding a cleaning professional as simple and
      | stress-free as possible. We believe in empowering both
      | customers and workers by providing a platform where
      | individuals can register as cleaning workers and offer their
      | services. Whether you&apos;re looking for a one-time deep clean
      | or a regular cleaning service, we&apos;ve got you covered. Our
      | website not only serves as a platform for customers to find
      | cleaning services, but also provides an opportunity for
      | individuals to register as cleaning workers and offer their
      | services. If you&apos;re a cleaner looking to find work, simply
      | sign up and create a profile with your experience, skills,
      | and availability. Our application makes it easy for you to
      | connect with potential clients in your area who are seeking
      | cleaning services. You&apos;ll have access to a range of job
      | opportunities at different price points, allowing you to
      | find work that fits your schedule and meets your financial
      | needs. We&apos;re dedicated to empowering individuals who want to
      | work in the cleaning industry by providing a user-friendly
      | platform that streamlines the job search process. So whether
      | you&apos;re just starting out or have years of experience, our
      | website can help you find work and grow your business. Sign
      | up today and start exploring the many opportunities
      | available to you as a cleaning professional! We take pride
      | in our commitment to providing exceptional service and
      | support to all our users. So why wait? Sign up today and
      | start exploring our database of talented cleaners to find
      | the perfect match for your domestic&nbsp;cleaning&nbsp;needs!
