doctype html
head
  link(rel='stylesheet' href='style.css')
  script(defer='' src='script.js')
  block head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
.banner
  header.flex
    img#logo(src='img/logo.jpg' alt='logo')
    #sidebar
      ul
        li.login
          a(href='login') log in
        li.preSignIn
          a(href='preSignIn') Sign in
        li.customerService
          a(href='customerService') Customer Service
        li.about
          a(href='aboutUs') About us
        li.myProfile
          a(href='myProfile') My Profile
        li.home
          a(href='homePage')
            img(src='img/home.png' alt='HomePage')
    .card
      block content