.signInEmp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gender {
    background-color: white;
    color: #2f3640;
    border-radius: 0.625em;
    padding: 0.3em 0.3em;
    cursor: pointer;
}

.gender option {
    background-color: grey;
    color: white;
}

.my-form input:focus {
    border-color: lightblue;
    border-width: 0.5em;
}
.gender:focus {
    border-color: lightblue;
    border-width: 0.3em;
}
